{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Child Profile{% endblock%}

<!-- ********************** BEGIN CSS LINKS ********************** -->
{%block PAGE_LEVEL_CSS_PLUGINS%}
<link href="{% static '/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static '/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static '/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}" rel="stylesheet" type="text/css" />
{%endblock%}
{%block THEME_GLOBAL_STYLES%}
<link href="{% static '/global/css/components.min.css' %}" rel="stylesheet" id="style_components" type="text/css" />
<link href="{% static '/global/css/plugins.min.css' %}" rel="stylesheet" type="text/css" />
{%endblock%}
{%block PAGE_LEVEL_STYLES%}
<link href="{% static '/pages/css/profile.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static '/apps/css/ticket.min.css' %}" rel="stylesheet" type="text/css" />
{%endblock%}
{%block THEME_LAYOUT_STYLES%}
<link href="{% static '/layouts/layout/css/layout.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static '/layouts/layout/css/themes/darkblue.min.css' %}" rel="stylesheet" type="text/css" id="style_color" />
<link href="{% static '/layouts/layout/css/custom.min.css' %}" rel="stylesheet" type="text/css" />
{%endblock%}
{%block CUSTOM_CSS%}
<link href="{% static 'custom/css/childrenProfileTemplate.css' %}" rel="stylesheet" type="text/css" />
{%endblock%}
<!-- ********************** END CSS LINKS ********************** -->

{% block section %}
Child Profile
{% endblock%}

{% block page-title %}
Profile of {{kid.name}}
{% endblock%}

{% block content %}
 <div class="row">
    <div class="col-md-12">
        <!-- BEGIN PROFILE SIDEBAR -->
        <div class="profile-sidebar childProfile">
            <!-- PORTLET MAIN -->
            <div class="portlet light profile-sidebar-portlet childrenProfile">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img src="../images/3.jpg" class="img-responsive" alt=""> </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">%kid_name%</div>
                    <div class="profile-usertitle-name">%kid_lastname%</div>
                    <div class="profile-usertitle-job">%age%</div>
                    <div class="profile-usertitle-job">%contact%</div>
                </div>

                <div class="profile-userbuttons">
                    <button type="button" class="btn btn-circle green btn-sm classNumber">%class%</button>
                    <button type="button" class="btn btn-circle red btn-sm schoolName">%school%</button>
                </div>

                <div class="profile-usermenu">
                    <ul class="nav">
                         <li class="btn-reports">
                            <a href="app_ticket.html">
                                <i class="fa fa-child"></i>Child Profile</a>
                        </li>
                        <li class="btn-reports">
                            <a href="app_ticket.html">
                                <i class="fa fa-user"></i>Contact</a>
                        </li>
                        <li class="btn-reports">
                            <a href="app_ticket.html">
                                <i class="fa fa-flag"></i>Reports</a>
                        </li>
                         <li class="btn-reports">
                            <a href="app_ticket.html">
                                <i class="fa fa-medkit"></i>Medical</a>
                        </li>
                         <li class="btn-reports">
                            <a href="app_ticket.html">
                                <i class="icon-camera"></i>Gallery</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

{%block table%}{%endblock%}


        <div class="app-ticket app-ticket-list">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light childrenProfileView">
                        
                        <div class="portlet-body">
                            <div class="portlet-title tabbable-line">
                                <div class="caption caption-md">
                                    <i class="icon-globe theme-font hide"></i>
                                    <span class="caption-subject font-blue-madison bold uppercase childInfo">Details</span>
                                </div>
                            </div>
                        </div>
                        
                       <div class="portlet-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" style="white-space: nowrap;overflow: scroll;">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th class="family">Name</th>
                                            <th>First Name </th>
                                            <th>gender</th>
                                            <th>Age</th>
                                            <th>Attendance</th>
                                            <th>Class</th>
                                            <th>School</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr class="odd gradeX">
                                            <td>%name.id%</td>
                                            <td>%name%</td>
                                            <td>%first_name%</td>
                                            <td>%gender%</td>
                                            <td>%age%</td>
                                            <td>%class%</td>
                                            <td>%school%</td>
                                            <td><span class="label label-sm label-default checkin"> Check in </span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                       </div>

                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase childInfo">Contact Info</span>
                            </div>
                        </div>

                        <div class="portlet-body">
                            <div class="table-responsive">

                                <table class="table table-bordered" style="white-space: nowrap;overflow: scroll;">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Phone number</th>
                                            <th>Mail</th>
                                            <th>Adress</th>
                                            <th>city</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="odd gradeX">
                                            <td>name.id</td>
                                            <td>%name%</td>
                                            <td>%000-000-00-00%</td>
                                            <td><a href="mailto:valentineg@gmail.com">%contact%</a></td>
                                            <td class="center">%Adress% </td>
                                            <td>%city%</td>
                                        </tr>
                                        <tr class="odd gradeX">
                                            <td>%name%</td>
                                            <td>%000-000-00-00%</td>
                                            <td> <a href="mailto:valentineg@gmail.com">%contact%</a></td>
                                            <td class="center">%Adress% </td>
                                            <td>%city%</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase childInfo">Other information</span>
                            </div>
                        </div>

                       <div class="portlet-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" style="white-space: nowrap;overflow: scroll;">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Sensivity</th>
                                            <th>Medical treatment</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="odd gradeX">
                                            <td>sensivity.id</td>
                                            <td>%sensivity</td>
                                            <td class="center">%medical%</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                </div>
            </div>
            </div>
        </div>

{%endblock%}

<!-- ********************** BEGIN JS LINKS ********************** -->
{%block PAGE_LEVEL_JS_PLUGINS%}
<script src="{% static '/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js' %}" type="text/javascript"></script>
<script src="{% static '/global/plugins/jquery.sparkline.min.js' %}" type="text/javascript"></script>
<script src="{% static '/global/scripts/datatable.js' %}" type="text/javascript"></script>
<script src="{% static '/global/plugins/datatables/datatables.min.js' %}" type="text/javascript"></script>
<script src="{% static '/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js' %}" type="text/javascript"></script>
{%endblock%}

{%block THEME_GLOBAL_SCRIPTS%}
<script src="{% static '/global/scripts/app.min.js' %}" type="text/javascript"></script>
{%endblock%}

{%block PAGE_LEVEL_SCRIPTS%}
<script src="{% static '/pages/scripts/profile.min.js' %}" type="text/javascript"></script>
<script src="{% static '/pages/scripts/table-datatables-managed.min.js' %}" type="text/javascript"></script>
{%endblock%}

{%block THEME_LAYOUT_SCRIPTS%}
<script src="{% static '/layouts/layout/scripts/layout.min.js' %}" type="text/javascript"></script>
<script src="{% static '/layouts/layout/scripts/demo.min.js' %}" type="text/javascript"></script>
<script src="{% static '/layouts/global/scripts/quick-sidebar.min.js' %}" type="text/javascript"></script>
{%endblock%}
<!-- ********************** END JS LINKS ********************** -->

