{% extends "attendances_template.html" %}

{% load staticfiles %}

{% block section %}
    <li>
        <a href="{%url 'CRM:attendances' %}">Attendance</a>
        {% comment %}<i class="fa fa-circle"></i>{% endcomment %}
    </li>
{% endblock%}

{% block page-title %}
Attendances <small>of {{school.name}}</small>
{% endblock%}


{% block content %}

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="dashboard-stat blue checkin">
                        <div class="visual">
                            <i class="fa fa-comments"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span data-counter="counterup" data-value="1349">30</span>
                            </div>
                            <div class="desc">Check in</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="dashboard-stat purple doesnot">
                        <div class="visual">
                            <i class="fa fa-globe"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span data-counter="counterup" data-value="12">3</span></div>
                            <div class="desc">Absent</div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="dashboard-stat green ">
                        <div class="visual">
                            <i class="fa fa-shopping-cart"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span data-counter="counterup" data-value="35">{{kids.count}}</span></div>
                            <div class="desc">Total kids</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portlet-body">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Class</th>
                    <th>Contact</th>
                    <th>Status</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                <!-- The Schema begin here -->
                <!-- Person One  -->
                {% for k in kids%}
                <tr class="odd gradeX">
                    <td>{{k.first_name}}</td>
                    <td class="center">{{k.group.name}}</td>
                    <td>
                        {% with k.contacts_set.all|first as c%}
                        <a href="mailto:some@gmail.com">{{c.email}}</a>
                        {% endwith %}
                    </td>
                    <td>
                        {% if k.id == 710 or k.id == 723 or k.id == 1526 %}
                        <span class="label label-sm label-not-arrive not">Absent</span>
                        {% else %}
                        <span class="label label-sm label-default checkin"> Check in </span>
                        {% endif%}
                    </td>
                    <td>
                        <input type="button" class="button check-in">
                        {% comment %}<input type="button" class="button check-out">{% endcomment %}
                        {% comment %}<input type="button" class="button latearrival">{% endcomment %}
                        <input type="button" class="button notarrive">
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{%endblock%}

{%block PAGE_LEVEL_SCRIPTS%}
<script src="{% static '/custom/js/attendances.js' %}" type="text/javascript"></script>
{%endblock%}