{% extends "base.html" %}

{% load staticfiles %}

{% block title %} Calendar {% endblock%}

{% block css %}

    {%block PAGE_LEVEL_CSS_PLUGINS%}
<link href="{% static '/global/plugins/cubeportfolio/css/cubeportfolio.css' %}" rel="stylesheet" type="text/css" />
{%endblock%}

{%block THEME_GLOBAL_STYLES%}
<link href="{% static '/global/css/components.min.css' %}" rel="stylesheet" id="style_components" type="text/css" />
<link href="{% static '/global/css/plugins.min.css' %}" rel="stylesheet" type="text/css" />
{%endblock%}

{%block PAGE_LEVEL_STYLES%}
<link href="{% static '/pages/css/portfolio.min.css' %}" rel="stylesheet" type="text/css" />
{%endblock%}

{%block THEME_LAYOUT_STYLES%}
<link href="{% static '/layouts/layout/css/layout.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static '/layouts/layout/css/themes/darkblue.min.css' %}" rel="stylesheet" type="text/css" id="style_color" />
<link href="{% static '/layouts/layout/css/custom.min.css' %}" rel="stylesheet" type="text/css" /><link href="{% static 'album/css/index.css'%}" rel="stylesheet" type="text/css" />
{%endblock%}


{% endblock%}

{% block section %}
Calendar
{% endblock%}

{% block page-title %}
Calendar
{% endblock%}

{% block content %}

<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=rcjrulhho5un91103qth2ihl54%40group.calendar.google.com&amp;color=%238C500B&amp;src=en-gb.judaism%23holiday%40group.v.calendar.google.com&amp;color=%23125A12&amp;ctz=Asia%2FJerusalem" style="border-width:0" width="900" height="600" frameborder="0" scrolling="no"></iframe>

{% endblock%}
<!-- ********************** BEGIN JS LINKS ********************** -->
{%block PAGE_LEVEL_JS_PLUGINS%}
<script src="{% static '/global/plugins/cubeportfolio/js/jquery.cubeportfolio.min.js' %}" type="text/javascript"></script>
{%endblock%}

{%block THEME_GLOBAL_SCRIPTS%}
<script src="{% static '/global/scripts/app.min.js' %}" type="text/javascript"></script>
{%endblock%}

{%block PAGE_LEVEL_SCRIPTS%}
<script src="{% static '/pages/scripts/portfolio-3.min.js' %}" type="text/javascript"></script>
{%endblock%}

{%block THEME_LAYOUT_SCRIPTS%}
<script src="{% static '/layouts/layout/scripts/layout.min.js' %}" type="text/javascript"></script>
<script src="{% static '/layouts/layout/scripts/demo.min.js' %}" type="text/javascript"></script>
<script src="{% static '/layouts/global/scripts/quick-sidebar.min.js' %}" type="text/javascript"></script>
{%endblock%}
