{% extends "child_profile_template.html" %}

{% block table %}

<div class="portlet-body">
    <div class="portlet-title tabbable-line">
        <div class="caption caption-md">
            <i class="icon-globe theme-font hide"></i>
            <span class="caption-subject font-blue-madison bold uppercase childInfo">Attendance</span>
        </div>
    </div>
</div>

<div class="portlet-body">
    <div class="table-responsive">
        <table class="table table-bordered" style="white-space: nowrap;overflow: scroll;">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>Arrived</th>
                    <th>Left</th>
                    <th>Notes</th>
                    <th>Status</th>
                    <th> Edit </th>
                </tr>
            </thead>
            <tbody>
                <tr class="odd gradeX">
                    <td>Date.id</td>
                    <td>%date%</td>
                    <td>%hour%</td>
                    <td>%hour%</td>
                    <td>Notes</td>
                    <td>Check in</td>
                    <td><a class="edit" href="javascript:;">Edit</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="portlet-body">
    <div class="portlet-title tabbable-line">
        <div class="caption caption-md">
            <i class="icon-globe theme-font hide"></i>
            <span class="caption-subject font-blue-madison bold uppercase childInfo">Missing items</span>
        </div>
    </div>
</div>

<div class="portlet-body">
    <div class="table-responsive">
        <table class="table table-bordered" style="white-space: nowrap;overflow: scroll;">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Quantity</th>
                    <th>Notes</th>
                    <th> Edit </th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr class="odd gradeX">
                        <td>Date.id</td>
                    <td>%date%</td>
                    <td>%Diapers%</td>
                    <td>%12 packs%</td>
                    <td>Hippoallergic</td>
                    <td><a class="edit" href="javascript:;">Edit</a></td>
                    <td><a class="edit" href="javascript:;">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="portlet-body">
    <div class="portlet-title tabbable-line">
        <div class="caption caption-md">
            <i class="icon-globe theme-font hide"></i>
            <span class="caption-subject font-blue-madison bold uppercase childInfo">Food</span>
        </div>
    </div>
</div>

<div class="portlet-body">
    <div class="table-responsive">
        <table class="table table-bordered" style="white-space: nowrap;overflow: scroll;">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Main Dish</th>
                    <th>Side Dish</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr class="odd gradeX">
                    <td>Date.id</td>
                    <td>%date%</td>
                    <td>%hour%</td>
                    <td>salads</td>
                    <td>fish</td>
                    <td><a class="edit" href="javascript:;">Edit</a></td>
                    <td><a class="edit" href="javascript:;">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="portlet-body">
    <div class="portlet-title tabbable-line">
        <div class="caption caption-md">
            <i class="icon-globe theme-font hide"></i>
            <span class="caption-subject font-blue-madison bold uppercase childInfo">Diaper change</span>
        </div>
    </div>
</div>

<div class="portlet-body">
    <div class="table-responsive">
        <table class="table table-bordered" style="white-space: nowrap;overflow: scroll;">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>Last Changed</th>
                    <th> Daily Changes</th>
                    <th>Comments </th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr class="odd gradeX">
                    <td>Date.id</td>
                    <td>%date%</td>
                    <td>%hour%</td>
                    <td>3</td>
                    <td>Green Poop</td>
                    <td><a class="edit" href="javascript:;">Edit</a></td>
                    <td><a class="edit" href="javascript:;">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="portlet-body">
    <div class="portlet-title tabbable-line">
        <div class="caption caption-md">
            <i class="icon-globe theme-font hide"></i>
            <span class="caption-subject font-blue-madison bold uppercase childInfo">Naps</span>
        </div>
    </div>
</div>

<div class="portlet-body">
    <div class="table-responsive">
        <table class="table table-bordered" style="white-space: nowrap;overflow: scroll;">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>Fell asleep </th>
                    <th> Woke up</th>
                    <th>Total </th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr class="odd gradeX">
                    <td>Date.id</td>
                    <td>%date%</td>
                    <td>%hour%</td>
                        <td>%hour%</td>
                    <td>total hour</td>
                    <td><a class="edit" href="javascript:;">Edit</a></td>
                    <td><a class="edit" href="javascript:;">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{%endblock%}