{% extends "base.html" %}

{% load staticfiles %}

{% block title %} Classes {% endblock%}

<!-- ********************** BEGIN CSS LINKS ********************** -->
{%block PAGE_LEVEL_CSS_PLUGINS%}
<link href="{% static '/global/plugins/cubeportfolio/css/cubeportfolio.css' %}" rel="stylesheet" type="text/css" />

{%endblock%}

{%block THEME_GLOBAL_STYLES%}
<link href="{% static '/global/css/components.min.css' %}" rel="stylesheet" id="style_components" type="text/css" />
<link href="{% static '/global/css/plugins.min.css' %}" rel="stylesheet" type="text/css" />
{%endblock%}

{%block PAGE_LEVEL_STYLES%}
<link href="{% static '/pages/css/portfolio.min.css' %}" rel="stylesheet" type="text/css" />
{%endblock%}

{%block THEME_LAYOUT_STYLES%}
<link href="{% static '/layouts/layout/css/layout.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static '/layouts/layout/css/themes/darkblue.min.css' %}" rel="stylesheet" type="text/css" id="style_color" />
<link href="{% static '/layouts/layout/css/custom.min.css' %}" rel="stylesheet" type="text/css" />
{%endblock%}
<!-- ********************** END CSS LINKS ********************** -->


{% block section %}
    <li>
        <a href="{% url 'CRM:classes_per_school' school.id %}">School</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="#">Classes</a>
    </li>
{% endblock%}

{% block info %}
<h1>{{school.name}}
<a style="float: right" class="btn btn-primary" href="{% url 'CRM:gallery_schools' school.id %}" role="button"><i class="icon-camera"></i> School Gallery</a>
</h1>
<h5 style="padding-left: 20px; padding-top: 10px;"><i class="icon-home"></i> {{school.street}}</h5>
<h5 style="padding-left: 20px"><i class="fa fa-phone"></i> {{school.phone}}</h5>
{% endblock%}

{% block page-title %}
Classes
{% endblock%}

{% block content %}
    <div class="row">
        {% for c in classes %}
        {% if forloop.counter0|divisibleby:'4' %}
        </div>
        <div class="row">
        {% endif %}
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a href="{% url 'CRM:children_per_class' c.id %}">
                <div class="portlet light portlet-fit bordered">
                    <div style="margin: 0" class="portlet-title">
                            <i class=" icon-layers font-green"></i>
                            <span class="caption-subject font-green bold uppercase">{{c.name}}</span>
                            <div class="caption-desc font-grey-cascade">{{school.name}}</div>
                    </div>
                </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock%}

<!-- ********************** BEGIN JS LINKS ********************** -->
{%block PAGE_LEVEL_JS_PLUGINS%}
<script src="{% static '/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}" type="text/javascript"></script>
<script src="{% static '/global/plugins/select2/js/select2.full.min.js' %}" type="text/javascript"></script>
{%endblock%}

{%block THEME_GLOBAL_SCRIPTS%}
<script src="{% static '/global/scripts/app.min.js' %}" type="text/javascript"></script>
{%endblock%}

{%block PAGE_LEVEL_SCRIPTS%}
<script src="{% static '/apps/scripts/todo-2.min.js' %}" type="text/javascript"></script>
{%endblock%}

{%block THEME_LAYOUT_SCRIPTS%}
<script src="{% static '/layouts/layout/scripts/layout.min.js' %}" type="text/javascript"></script>
<script src="{% static '/layouts/layout/scripts/demo.min.js' %}" type="text/javascript"></script>
<script src="{% static '/layouts/global/scripts/quick-sidebar.min.js' %}" type="text/javascript"></script>
{%endblock%}
<!-- ********************** END JS LINKS ********************** -->