{% extends "gallery_template.html" %}
{% load staticfiles %}

{% block section %}
    <li>
        <a href="{% url 'CRM:classes_per_school' kid.group.k_garden.id %}">School</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="{% url 'CRM:children_per_class' kid.group.id %}">Class</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="#">Gallery</a>
    </li>
{% endblock%}

{% block page-title %}
Photos of &nbsp; <a href="{% url 'CRM:child_profile' kid.id %}">  ארז ציון</a>
{% endblock%}

{% block content %}
    
    {% comment %}{% if kid_pics %}{% endcomment %}
    
    <div id="js-grid-lightbox-gallery" class="cbp">

        {% comment %}
        {% for p in kid_pics %}
            <div class="cbp-item web-design graphic print motion">
                <a href="#" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="https://connectoo.co.il/uploads/kid_photos/{{p.id}}/original/data.jpg">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title">{{ p.event }}</div>
                                <div class="cbp-l-caption-desc">{{ p.created_at }}</div>
                                <button type="button" class="btn btn-circle green btn-sm album">Add to Album</button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
        
        {% for p in tagged_pics %}
            <div class="cbp-item web-design graphic print motion">
                <a href="#" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="https://connectoo.co.il/uploads/pictures/{{p.id}}/original/data.jpg">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title">{{ p.event }}</div>
                                <div class="cbp-l-caption-desc">{{ p.date.date }}</div>
                                <button type="button" class="btn btn-circle green btn-sm album">Add to Album</button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
        {% endcomment %}

            <div class="cbp-item web-design graphic print motion">
                <a href="#" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="{% static '/media/child/1.jpg' %}">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <button type="button" class="btn btn-circle green btn-sm album">Add to Album</button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

    <div class="cbp-item web-design graphic print motion">
                <a href="#" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="{% static '/media/child/2.jpg' %}">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <button type="button" class="btn btn-circle green btn-sm album">Add to Album</button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        
        <div class="cbp-item web-design graphic print motion">
                <a href="#" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="{% static '/media/child/3.jpg' %}">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <button type="button" class="btn btn-circle green btn-sm album">Add to Album</button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

    <div class="cbp-item web-design graphic print motion">
                <a href="#" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="{% static '/media/child/4.jpg' %}">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <button type="button" class="btn btn-circle green btn-sm album">Add to Album</button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

    <div class="cbp-item web-design graphic print motion">
                <a href="#" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="{% static '/media/child/5.jpg' %}">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <button type="button" class="btn btn-circle green btn-sm album">Add to Album</button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
    <div class="cbp-item web-design graphic print motion">
                <a href="#" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="{% static '/media/child/6.jpg' %}">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <button type="button" class="btn btn-circle green btn-sm album">Add to Album</button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
    <div class="cbp-item web-design graphic print motion">
                <a href="#" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="{% static '/media/child/7.jpg' %}">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <button type="button" class="btn btn-circle green btn-sm album">Add to Album</button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
    <div class="cbp-item web-design graphic print motion">
                <a href="#" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="{% static '/media/child/8.jpg' %}">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <button type="button" class="btn btn-circle green btn-sm album">Add to Album</button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
    <div class="cbp-item web-design graphic print motion">
                <a href="#" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="{% static '/media/child/9.jpg' %}">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <button type="button" class="btn btn-circle green btn-sm album">Add to Album</button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
    <div class="cbp-item web-design graphic print motion">
                <a href="#" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="{% static '/media/child/10.jpg' %}">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <button type="button" class="btn btn-circle green btn-sm album">Add to Album</button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
    </div>
        {% comment %}{% else %}
            <h3 style="padding-left: 30px;">Nothing to show...</h3>
        {% endif %}{% endcomment %}

{% endblock%}