{% extends "base.html" %}

{% load staticfiles %}

{% block title %} Gallery {% endblock%}

<!-- ********************** BEGIN CSS LINKS ********************** -->
{%block PAGE_LEVEL_CSS_PLUGINS%}
<link href="{% static '/global/plugins/cubeportfolio/css/cubeportfolio.css' %}" rel="stylesheet" type="text/css" />
{%endblock%}

{%block THEME_GLOBAL_STYLES%}
<link href="{% static '/global/css/components.min.css' %}" rel="stylesheet" id="style_components" type="text/css" />
<link href="{% static '/global/css/plugins.min.css' %}" rel="stylesheet" type="text/css" />
{%endblock%}

{%block PAGE_LEVEL_STYLES%}
<link href="{% static '/pages/css/portfolio.min.css' %}" rel="stylesheet" type="text/css" />
{%endblock%}

{%block THEME_LAYOUT_STYLES%}
<link href="{% static '/layouts/layout/css/layout.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static '/layouts/layout/css/themes/darkblue.min.css' %}" rel="stylesheet" type="text/css" id="style_color" />
<link href="{% static '/layouts/layout/css/custom.min.css' %}" rel="stylesheet" type="text/css" />
{%endblock%}

{%block CUSTOM_CSS%}
{% comment %}<link href="{% static 'CRM/css/gallery.css %}" rel="stylesheet" type="text/css" />{% endcomment %}
{%endblock%}

<!-- ********************** END CSS LINKS ********************** -->

{% block section %}
School Gallery
{% endblock%}

{% block page-title %}
Photos of {{school.name}}
{% endblock%}

{% block content %}
            <!--THE GALLERY BEGIN HERE -->
            <div id="js-grid-lightbox-gallery" class="cbp">

                {% for group in groups %}
                {% for kid in group.kids_set.all %}
                {% for p in kid.kidphotos_set.all %}

                <div class="cbp-item web-design graphic print motion">
                    <a href="#" class="cbp-caption cbp-singlePageInline" data-title="World Clock Widget<br>by Paul Flavius Nechita" rel="nofollow">
                        <div class="cbp-caption-defaultWrap">
                            <img src="https://connectoo.co.il/uploads/kid_photos/{{p.id}}/original/data.jpg">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignLeft">
                                <div class="cbp-l-caption-body">
                                    <div class="cbp-l-caption-title">{{ p.event }}</div>
                                    <div class="cbp-l-caption-desc">{{ p.created_at }}</div>
                                    <button class="btn sbold green add card"> Add to card </button>
                                    <button type="button" class="btn btn-circle green btn-sm album">Add to Album</button>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                                    
                {% endfor %}
                {% endfor %}
                {% endfor %}
            <!--THE GALLERY ENDS HERE -->
        </div>
{% endblock%}

<!-- ********************** BEGIN JS LINKS ********************** -->
{%block PAGE_LEVEL_JS_PLUGINS%}
<script src="{% static '/global/plugins/cubeportfolio/js/jquery.cubeportfolio.min.js' %}" type="text/javascript"></script>
{%endblock%}

{%block THEME_GLOBAL_SCRIPTS%}
<script src="{% static '/global/scripts/app.min.js' %}" type="text/javascript"></script>
{%endblock%}

{%block PAGE_LEVEL_SCRIPTS%}
<script src="{% static '/pages/scripts/portfolio-3.min.js' %}" type="text/javascript"></script>
{%endblock%}

{%block THEME_LAYOUT_SCRIPTS%}
<script src="{% static '/layouts/layout/scripts/layout.min.js' %}" type="text/javascript"></script>
<script src="{% static '/layouts/layout/scripts/demo.min.js' %}" type="text/javascript"></script>
<script src="{% static '/layouts/global/scripts/quick-sidebar.min.js' %}" type="text/javascript"></script>
{%endblock%}

{% comment %}{%block CUSTOM_JAVASCRIPT%}
<script src="../JS/gallery.js" type="text/javascript"></script>
{%endblock%}{% endcomment %}

<!-- ********************** END JS LINKS ********************** -->