{% extends "gallery_template.html" %}

{% block section %}
    <li>
        <a href="{% url 'CRM:classes_per_school' kid.group.k_garden.id %}">School</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="{% url 'CRM:children_per_class' kid.group.id %}">Class</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="#">Gallery</a>
    </li>
{% endblock%}

{% block page-title %}
Photos of <a href="{% url 'CRM:child_profile' kid.id %}">{{kid.first_name}} </a>
{% endblock%}

{% block content %}
    
    {% comment %}{% if kid_pics %}{% endcomment %}
    
    <div id="js-grid-lightbox-gallery" class="cbp">

        {% for p in kid_pics %}
            <div class="cbp-item web-design graphic print motion">
                <a href="#" class="cbp-caption cbp-singlePageInline" data-title="World Clock Widget<br>by Paul Flavius Nechita" rel="nofollow">
                    <div class="cbp-caption-defaultWrap">
                        <img src="https://connectoo.co.il/uploads/kid_photos/{{p.id}}/original/data.jpg">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title">{{ p.event }}</div>
                                <div class="cbp-l-caption-desc">{{ p.date.date }}</div>
                                <button class="btn sbold green add card"> Add to card </button>
                                <button type="button" class="btn btn-circle green btn-sm album">Add to Album</button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
        {% for p in tagged_pics %}
            <div class="cbp-item web-design graphic print motion">
                <a href="#" class="cbp-caption cbp-singlePageInline" data-title="World Clock Widget<br>by Paul Flavius Nechita" rel="nofollow">
                    <div class="cbp-caption-defaultWrap">
                        <img src="https://connectoo.co.il/uploads/pictures/{{p.id}}/original/data.jpg">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title">{{ p.event }}</div>
                                <div class="cbp-l-caption-desc">{{ p.date.date }}</div>
                                <button class="btn sbold green add card"> Add to card </button>
                                <button type="button" class="btn btn-circle green btn-sm album">Add to Album</button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}


        
    </div>
        
        {% comment %}{% else %}
            <h3 style="padding-left: 30px;">Nothing to show...</h3>
        {% endif %}{% endcomment %}

{% endblock%}