{% extends "gallery_template.html" %}

{% load staticfiles %}

{% block title %} Class Gallery {% endblock%}

<!-- ********************** BEGIN CSS LINKS ********************** -->
{%block PAGE_LEVEL_CSS_PLUGINS%}
<link href="{% static '/global/plugins/cubeportfolio/css/cubeportfolio.css' %}" rel="stylesheet" type="text/css" />
{%endblock%}

{%block THEME_GLOBAL_STYLES%}
<link href="{% static '/global/css/components.min.css' %}" rel="stylesheet" id="style_components" type="text/css" />
<link href="{% static '/global/css/plugins.min.css' %}" rel="stylesheet" type="text/css" />
{%endblock%}

{%block PAGE_LEVEL_STYLES%}
<link href="{% static '/pages/css/portfolio.min.css' %}" rel="stylesheet" type="text/css" />
{%endblock%}

{%block THEME_LAYOUT_STYLES%}
<link href="{% static '/layouts/layout/css/layout.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static '/layouts/layout/css/themes/darkblue.min.css' %}" rel="stylesheet" type="text/css" id="style_color" />
<link href="{% static '/layouts/layout/css/custom.min.css' %}" rel="stylesheet" type="text/css" />
{%endblock%}

{%block CUSTOM_CSS%}
{% comment %}<link href="{% static 'CRM/css/gallery.css %}" rel="stylesheet" type="text/css" />{% endcomment %}
{%endblock%}

<!-- ********************** END CSS LINKS ********************** -->

{% block section %}
Class Gallery
{%endblock%}

{% block page-title %}
Photos of class {{group.name}} <small></small>
{%endblock%}

{% block line %}
    <li>
        <a href="{% url 'CRM:classes_per_school' group.k_garden.id %}">School</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="{% url 'CRM:children_per_class' group.id %}">Class</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="#">Gallery</a>
    </li>
{% endblock%}

{% block content %}
            <!--THE GALLERY BEGIN HERE -->
            <div id="js-grid-lightbox-gallery" class="cbp">

                {% for k in kids %}
                    {% for p in k.kidphotos_set.all %}

                <div class="cbp-item web-design graphic print motion">
                    <a href="#" class="cbp-caption" data-title="World Clock Widget<br>by Paul Flavius Nechita" rel="nofollow">
                        <div class="cbp-caption-defaultWrap">
                            <img src="https://connectoo.co.il/uploads/kid_photos/{{p.id}}/original/data.jpg">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignLeft">
                                <div class="cbp-l-caption-body">
                                    <div class="cbp-l-caption-title">{{ p.event }}</div>
                                    <div class="cbp-l-caption-desc">{{ p.created_at }}</div>
                                    <button class="btn sbold green add card"> Add to card </button>
                                    <button type="button" class="btn btn-circle green btn-sm album">Add to Album</button>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                                    
                {% endfor %}
                {% endfor %}
            <!--THE GALLERY ENDS HERE -->
        </div>
{% endblock%}