{% extends "gallery_template.html" %}

{% block section %}
    <li>
        <a href="{% url 'CRM:classes_per_school' school.id %}">School</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="#">Gallery</a>
    </li>
{% endblock%}

{% block page-title %}
Photos of {{school.name}}
{% endblock%}

{% block content %}

    <div id="js-grid-lightbox-gallery" class="cbp">
        
        {% for group in groups %}
            {% for kid in group.kids_set.all %}
                {% for p in kid.kidphotos_set.all %}
                <div class="cbp-item web-design graphic print motion">
                    <a href="#" class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="https://connectoo.co.il/uploads/kid_photos/{{p.id}}/original/data.jpg">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignLeft">
                                <div class="cbp-l-caption-body">
                                    <div class="cbp-l-caption-title">{{ p.event }}</div>
                                    <div class="cbp-l-caption-desc">{{ p.created_at }}</div>
                                    <button type="button" class="btn btn-circle green btn-sm album">Add to Album</button>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                

                {% endfor %}
            {% endfor %}
        {% endfor %}

    </div>
{% endblock%}