{% extends "base.html" %}

{% block title %} Staff {% endblock%}

{% block css %}
    <!--<link href="../css/gallery.css" rel="stylesheet" type="text/css" />-->
{% endblock%}

{% block section %}
Staff
{% endblock%}

{% block page-title %}
Staff <small>in {{school.name}}</small>
{% endblock%}


{% block content %}
<!-- BEGIN : USER CARDS -->

<div class="row">
    
    <div class="col-md-12">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">{{s.name}}</span>
                </div>
            </div>
            <!-- First Row -->
            <div class="portlet-body">
                <div class="mt-element-card mt-element-overlay">
                    <div class="row">
                       {% for s in staff %}
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="mt-card-item">
                                <div class="mt-card-avatar mt-overlay-1">
                                    <img src="../../../media/{{ c.image }}">
                                    <div class="mt-overlay">
                                        <ul class="mt-info">
                                            <li>
                                                <a class="btn default btn-outline" href="javascript:;"title="see Data">
                                                    <i class="icon-bar-chart"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="btn default btn-outline" href="javascript:;" title="go to photos">
                                                    <i class="icon-camera"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="mt-card-content">
                                    <h3 class="mt-card-name">{{s.first_name}}</h3>
                                    <h3 class="mt-card-name">{{s.grade}}</h3>
                                </div>
                            </div>
                        </div>
    {% endfor %}
                    </div>
            
                </div>
             </div>
        </div>
       
    </div>
</div>
 
<!-- END : USER CARDS -->
{%endblock%}