{% extends "gallery_template.html" %}

{% load staticfiles %}

{% block title %} Staff of {{school.name}}{% endblock%}

<!-- ********************** BEGIN CSS LINKS ********************** -->
{%block PAGE_LEVEL_CSS_PLUGINS%}
<link href="{% static '/global/plugins/cubeportfolio/css/cubeportfolio.css' %}" rel="stylesheet" type="text/css" />
{%endblock%}

{%block THEME_GLOBAL_STYLES%}
<link href="{% static '/global/css/components.min.css' %}" rel="stylesheet" id="style_components" type="text/css" />
<link href="{% static '/global/css/plugins.min.css' %}" rel="stylesheet" type="text/css" />
{%endblock%}

{%block PAGE_LEVEL_STYLES%}
<link href="{% static '/pages/css/portfolio.min.css' %}" rel="stylesheet" type="text/css" />
{%endblock%}

{%block THEME_LAYOUT_STYLES%}
<link href="{% static '/layouts/layout/css/layout.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static '/layouts/layout/css/themes/darkblue.min.css' %}" rel="stylesheet" type="text/css" id="style_color" />
<link href="{% static '/layouts/layout/css/custom.min.css' %}" rel="stylesheet" type="text/css" />
{%endblock%}
<!-- ********************** END CSS LINKS ********************** -->

{% block section %}
Staff
{% endblock%}

{% block page-title %}
Staff of {{school.name}}
{% endblock%}


{% block content %}
<!--&lt;!&ndash; BEGIN : USER CARDS &ndash;&gt;-->
<div class="portlet-body">
                <div class="mt-element-card mt-element-overlay">
                    <div class="row">
                        



            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
                <div class="mt-card-item">
                    <div class="mt-card-avatar mt-overlay-1">
                        <img src="{% static 'media/staff/1.jpg' %}">
                    </div>
                    <div class="mt-card-content">
                        <h3 class="mt-card-name">Daniella</h3>
                        <p class="mt-card-desc font-grey-mint">Manager</p>
                            <p class="mt-card-desc font-grey-mint">+972 58 876 866</p>
                    </div>
                </div>
            </div>
      

            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
                <div class="mt-card-item">
                    <div class="mt-card-avatar mt-overlay-1">
                        <img src="{% static 'media/staff/2.png' %}">
                    </div>
                    <div class="mt-card-content">
                        <h3 class="mt-card-name">Valentine</h3>
                        <p class="mt-card-desc font-grey-mint">Teacher</p>
                            <p class="mt-card-desc font-grey-mint">+972 58 657 096</p>
                    </div>
                </div>
          
</div>

            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
                <div class="mt-card-item">
                    <div class="mt-card-avatar mt-overlay-1">
                        <img src="{% static 'media/staff/3.jpg' %}">
                    </div>
                    <div class="mt-card-content">
                        <h3 class="mt-card-name">Shiran</h3>
                        <p class="mt-card-desc font-grey-mint">Teacher</p>
                            <p class="mt-card-desc font-grey-mint">+972 58 045 246</p>
                    </div>
    </div>
</div>
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
                <div class="mt-card-item">
                    <div class="mt-card-avatar mt-overlay-1">
                        <img src="{% static 'media/staff/4.jpg' %}">
                    </div>
                    <div class="mt-card-content">
                        <h3 class="mt-card-name">David</h3>
                        <p class="mt-card-desc font-grey-mint">Assistant</p>
                            <p class="mt-card-desc font-grey-mint">+972 58 628 019</p>
                    </div>
                </div>
            </div>







                    </div>
                </div>
            </div>

{%endblock%}

<!-- ********************** BEGIN JS LINKS ********************** -->
{%block PAGE_LEVEL_JS_PLUGINS%}
<script src="{% static '/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}" type="text/javascript"></script>
<script src="{% static '/global/plugins/select2/js/select2.full.min.js' %}" type="text/javascript"></script>
{%endblock%}

{%block THEME_GLOBAL_SCRIPTS%}
<script src="{% static '/global/scripts/app.min.js' %}" type="text/javascript"></script>
{%endblock%}

{%block PAGE_LEVEL_SCRIPTS%}
<script src="{% static '/apps/scripts/todo-2.min.js' %}" type="text/javascript"></script>
{%endblock%}

{%block THEME_LAYOUT_SCRIPTS%}
<script src="{% static '/layouts/layout/scripts/layout.min.js' %}" type="text/javascript"></script>
<script src="{% static '/layouts/layout/scripts/demo.min.js' %}" type="text/javascript"></script>
<script src="{% static '/layouts/global/scripts/quick-sidebar.min.js' %}" type="text/javascript"></script>
{%endblock%}
<!-- ********************** END JS LINKS ********************** -->
