{% load staticfiles %}
{% load crm_extras %}

<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<!--<![endif]-->

<!-- BEGIN HEAD -->
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <title>Connectoo | {%block title%}{%endblock%}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="{% static '/global/plugins/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static '/global/plugins/simple-line-icons/simple-line-icons.min.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static '/global/plugins/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static '/global/plugins/uniform/css/uniform.default.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static '/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css'%}" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    {%block PAGE_LEVEL_CSS_PLUGINS%}{%endblock%}
    <!-- END PAGE LEVEL PLUGINS -->

    <!-- BEGIN THEME GLOBAL STYLES -->
    {%block THEME_GLOBAL_STYLES%}{%endblock%}
    <!-- END THEME GLOBAL STYLES -->

    <!-- BEGIN PAGE LEVEL STYLES -->
    {%block PAGE_LEVEL_STYLES%}{%endblock%}
    <!-- END PAGE LEVEL STYLES -->

    <!-- BEGIN THEME LAYOUT STYLES -->
    {%block THEME_LAYOUT_STYLES%}{%endblock%}    
    <!-- END THEME LAYOUT STYLES -->

    {%block CUSTOM_CSS%}{%endblock%}
    
    <link rel="shortcut icon" href="favicon.ico" /> 
</head>
<!-- END HEAD -->

<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
    <!-- BEGIN HEADER -->
    <div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner ">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href="{% url 'CRM:index' %}">
                    <img src="{% static '/layouts/layout/img/logo.png'%}" alt="logo" class="logo-default" />
                </a>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"></a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <li class="dropdown dropdown-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            {% if request.user|has_group:"Manager" %} 
                            <img alt="" class="img-circle" src="{% static '/layouts/layout/img/avatar3_small.jpg'%}" />
                            {% elif request.user|has_group:"Parent" %} 
                            <img alt="" class="img-circle" src="{% static '/media/parent.jpg'%}" />
                            {% endif %}
                            <span class="username username-hide-on-mobile"> {{user.username}} </span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            {% comment %}<li>
                                <a href="page_user_profile_1.html"><i class="icon-user"></i> My Profile</a>
                            </li>{% endcomment %}
                            <li>
                                <a href="{% url 'CRM:calendar' %}"><i class="icon-calendar"></i> My Calendar </a>
                            </li>
                            {% comment %}<li>
                                <a href="app_inbox.html"><i class="icon-envelope-open"></i> My Inbox<span class="badge badge-danger"> 3 </span></a>
                            </li>{% endcomment %}
                            <li class="divider"> </li>
                            <li>
                                <a href="{% url 'accounts:logout' %}"><i class="icon-key"></i> Log Out </a>
                            </li>
                        </ul>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->
                    <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <li class="dropdown dropdown-quick-sidebar-toggler">
                        <a href="{% url 'accounts:logout' %}" class="dropdown-toggle"><i class="icon-logout"></i></a>
                    </li>
                    <!-- END QUICK SIDEBAR TOGGLER -->
                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END HEADER INNER -->
    </div>
    <!-- END HEADER -->

    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"></div>
    <!-- END HEADER & CONTENT DIVIDER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar-wrapper">
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
            <div style="position: fixed" class="page-sidebar navbar-collapse collapse">
                <!-- BEGIN SIDEBAR MENU -->
                <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
                <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
                <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
                <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
                <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 43px">
                    <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                    <li class="sidebar-toggler-wrapper hide">
                        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                        <div class="sidebar-toggler"> </div>
                        <!-- END SIDEBAR TOGGLER BUTTON -->
                    </li>
                    <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
                    
                        <!-- END RESPONSIVE QUICK SEARCH FORM -->
                    
                    </li>
                    {% if request.user|has_group:"Connectoo" %} 
                    <li class="nav-item">
                        <a href="{% url 'CRM:schools_table' %}" class="nav-link nav-toggle">
                            <i class="fa fa-home" style="color:#eeb31b;"></i>
                            <span class="title">Schools</span>
                            <span class="arrow"></span>
                        </a>
                    </li>
                    {% endif %}

                    {% if request.user|has_group:"Teacher" %} 
                    <li class="nav-item">
                        <a href="{% url 'CRM:attendances' %}" class="nav-link nav-toggle">
                            <i class="fa fa-list" style="color:#eeb31b;"></i>
                            <span class="title">Attendances</span>
                            <span class="arrow"></span>
                        </a>
                    </li>
                    {% endif %}

                    <li class="nav-item">
                        <a href="{% url 'CRM:calendar' %}" class="nav-link nav-toggle">
                            <i class="fa fa-calendar" style="color:#eeb31b;"></i>
                            <span class="title">Calendar</span>
                            <span class="selected"></span>
                            <span class="arrow"></span>
                        </a>
                    </li>
                    
                    {% if request.user|has_group:"Teacher" %} 
                    <li class="nav-item">
                        <a href="{% url 'CRM:classes_per_school' 201 %}" class="nav-link nav-toggle">
                            <i class="fa fa-users" style="color:#eeb31b;"></i>
                            <span class="title">Classes</span>
                            <span class="arrow"></span>
                        </a>
                    </li>
                    {% endif %}

                    {% if request.user|has_group:"Parent" %} 
                    <li class="nav-item">
                        <a href="{% url 'CRM:child_profile' 2922 %}" class="nav-link nav-toggle">
                            <i class="fa fa-user" style="color:#eeb31b;"></i>
                            <span class="title">Child Profile</span>
                            <span class="arrow"></span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'CRM:children_per_class' 361 %}" class="nav-link nav-toggle">
                            <i class="fa fa-users" style="color:#eeb31b;"></i>
                            <span class="title">Class</span>
                            <span class="arrow"></span>
                        </a>
                    </li>
                    {% endif %}

                    {% if request.user|has_group:"Manager" %} 
                    <li class="nav-item  ">
                        <a href="{% url 'CRM:children_per_school' 201 %}" class="nav-link nav-toggle">
                            <i class="fa fa-child" style="color:#eeb31b;"></i>
                            <span class="title">Children</span>
                            <span class="arrow"></span>
                        </a>
                    </li>
                    {% endif %}

                    <li class="nav-item  ">
                        <a href="{% url 'CRM:staff' %}" class="nav-link nav-toggle">
                            <i class="fa fa-graduation-cap" style="color:#eeb31b;"></i>
                            <span class="title">Staff</span>
                            <span class="arrow"></span>
                        </a>
                    </li>

                    {% if request.user|has_group:"Connectoo" %} 
                    <li class="nav-item">
                        <a href="{% url 'CRM:reports' %}" class="nav-link nav-toggle">
                            <i class="fa fa-flag" style="color:#eeb31b;"></i>
                            <span class="title">Reports</span>
                            <span class="arrow"></span>
                        </a>
                    </li>
                    {% endif %}

                    {% if request.user|has_group:"Teacher" %} 
                    <li class="nav-item">
                        <a href="{% url 'CRM:contacts' 201 %}" class="nav-link nav-toggle">
                            <i class="fa fa-user" style="color:#eeb31b;"></i>
                            <span class="title">Contacts</span>
                            <span class="arrow"></span>
                        </a>
                    </li>
                    {% endif %}

                    {% if request.user|has_group:"Teacher" %}
                    <li class="nav-item  ">
                        <a href="{% url 'CRM:gallery_schools' 201 %}" class="nav-link nav-toggle">
                            <i class="fa fa-picture-o" style="color:#eeb31b;"></i>
                            <span class="title">Gallery</span>
                            <span class="arrow"></span>
                        </a>
                    </li>

                    {% elif request.user|has_group:"Parent" %}
                    <li class="nav-item  ">
                        <a href="{% url 'CRM:gallery_kid' 2922 %}" class="nav-link nav-toggle">
                            <i class="fa fa-picture-o" style="color:#eeb31b;"></i>
                            <span class="title">Gallery</span>
                            <span class="arrow"></span>
                        </a>
                    </li>
                    {% endif %}

                    <li class="nav-item  ">
                        <a href="{% url 'CRM:album' %}" class="nav-link nav-toggle">
                            <i class="fa fa-book" style="color:#eeb31b;"></i>
                            <span class="title">My album</span>
                            <span class="arrow"></span>
                        </a>
                    </li>
                <!-- END SIDEBAR MENU -->
            </div>
        </div>
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper" style="overflow: scroll">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content" id="cn-pageContent">

                <!-- BEGIN PAGE HEADER-->
                <!-- BEGIN PAGE BAR -->
                <div class="page-bar">
                    <ul class="page-breadcrumb header">
                        <li>
                            <a href="{%url 'CRM:index'%}">Home</a>
                            <i class="fa fa-circle"></i>
                        </li>
                        {% block section %}{% endblock%}
                    </ul>
                </div>
                <!-- END PAGE BAR -->
                <!-- END PAGE HEADER-->
                {% block info %}
                {% endblock%}
                <!-- BEGIN PAGE TITLE-->
                <h3 class="page-title">
                    {% block page-title %}
                    {% endblock%}
                </h3>
                <!-- END PAGE TITLE-->
                <!--***************************
                    CONTENT OF THE BODY IS HERE
                    ***************************-->

                {% block content %}
                {% endblock%}

                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->

            <!--[if lt IE 9]>
            <script src="{% static '/global/plugins/respond.min.js'%}"></script>
            <script src="{% static '/global/plugins/excanvas.min.js'%}"></script> 
            <![endif]-->
        </div>
    </div>

    <!-- BEGIN CORE PLUGINS -->
    <script src="{% static '/global/plugins/jquery.min.js'%}" type="text/javascript"></script>
    <script src="{% static '/global/plugins/bootstrap/js/bootstrap.min.js'%}" type="text/javascript"></script>
    <script src="{% static '/global/plugins/js.cookie.min.js'%}" type="text/javascript"></script>
    <script src="{% static '/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js'%}" type="text/javascript"></script>
    <script src="{% static '/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js'%}" type="text/javascript"></script>
    <script src="{% static '/global/plugins/jquery.blockui.min.js'%}" type="text/javascript"></script>
    <script src="{% static '/global/plugins/uniform/jquery.uniform.min.js'%}" type="text/javascript"></script>
    <script src="{% static '/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js'%}" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    {%block PAGE_LEVEL_JS_PLUGINS%}{%endblock%}
    <!-- END PAGE LEVEL PLUGINS -->
    
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    {%block THEME_GLOBAL_SCRIPTS%}{%endblock%}
    <!-- END THEME GLOBAL SCRIPTS -->

    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    {%block PAGE_LEVEL_SCRIPTS%}{%endblock%}
    <!-- END PAGE LEVEL SCRIPTS -->

    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    {%block THEME_LAYOUT_SCRIPTS%}{%endblock%}
    <!-- END THEME LAYOUT SCRIPTS -->

    <!-- BEGIN CUSTOM SCRIPTS -->
    {%block CUSTOM_JAVASCRIPT%}{%endblock%}
    <!-- END CUSTOM SCRIPTS -->
</body>

</html>
